.a {
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 50%;
}

.a-right{
    flex:1
}

.a-card.bg {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: rgba(255, 127, 80, 0.267);
}

.a-card{
    width: 70%;
    height: 80vh;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}